.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  margin-bottom: 1rem;
}

.photo-cover {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background-color: black;
}
.photo {
  max-width: 200px;
}

.new {
  position: absolute;
  left: 65%;
  top: 10%;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #8fffd1;
  border-radius: 10px;
  padding: 0 10px;
  z-index: 1;
}
