nav a {
  padding: 20px;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-bottom: 2rem;
}

.photo-cover {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  background-color: black;
}
.photo {
  max-width: 200px;
}

.new {
  position: absolute;
  left: 65%;
  top: 10%;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #8fffd1;
  border-radius: 10px;
  padding: 0 10px;
  z-index: 1;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 280px;
  border: 1px solid black;
  margin: 20px auto;
}

.count div {
  font-size: 25px;
  font-weight: 700;
  margin: 10px;
}
.count button {
  width: 50px;
  margin: 10px;
}
